<% if ( theme.duoshuo_enable){ %>
	<% if ( page.comments){ %>
	<section id="comment">
		<!-- 多说评论框 start -->
		<div class="ds-thread" data-thread-key="<%= page.path %>" data-title="<%= page.title %>" data-url="<%= page.permalink %>"></div>
		<!-- 多说评论框 end -->
	</section>
	<% } %>
<% } %>