#comment
  padding 20px
  background #fafafa
  box-shadow 1px 2px 3px #ddd
  margin-bottom 50px
  .title
    font-weight normal
    margin-bottom 15px

.comments-count
  color #d6d6d6
  float right
	.icon-comment:before
	  font-family FontAwesome
	  -webkit-font-smoothing 
	  content "\f075"
